pip==24.0
bcrypt
bidict
blinker
cachelib
click
config
Flask
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
gevent
gevent-websocket
greenlet
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
packaging
passlib
psycopg2-binary
python-engineio
python-socketio
pytz
simple-websocket
SQLAlchemy
typing_extensions
Werkzeug
wsproto
zope.event
zope.interface
